.displayApp {
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  justify-content: center; /* Center the child elements horizontally */
  align-items: center; /* Center the child elements vertically */
  margin-top: 10vmin; /* or any other fixed pixel value, to be optimized for mobile */
  margin-bottom: 10vmin;
  text-align: center; /* Center text within the container */
}

.displayAppLoading {
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  justify-content: center; /* Center the child elements horizontally */
  align-items: center; /* Center the child elements vertically */
  margin-top: 20vmin; /* or any other fixed pixel value, to be optimized for mobile */
  margin-bottom: 10vmin;
}

.displayApp button {
  align-self: center;
}

.displayApp img {
  justify-content: center; /* Center the child elements horizontally */
  padding-left: 20vmin;
  padding-right: 20vmin;
}

.displayApp h1 {
  text-align: center;
  padding-left: 20vmin;
  padding-right: 20vmin;
}

.displayApp h3 {
  text-align: center;
  padding-left: 20vmin;
  padding-right: 20vmin;
}

.displayApp p {
  text-align: center;
  padding-left: 20vmin;
  padding-right: 20vmin;
}

.displayApp ul {
  list-style: none;
}