# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# front-end dependencies
/node_modules
/.pnp
.pnp.js
/src/.env

# backend dependencies
/backend/api/node_modules
/backend/api/.env

# testing
/coverage

# production
zodify-ssh.pem
npm-scripts.json
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

replace.txt

# firebase
/src/firebase
/backend/api/firebase/creds.txt
/backend/api/firebase/credentials.json

# packages
package-lock.json

# api
/src/constants/spotify.js

# postgres
/backend/config
/backend/us-west-1-bundle.pem

# docker
Dockerfile