.zodiacImg {
  max-width: 100vmin;
  max-height: 100vmin;
}

.highlightText {
  color: #CD6645;
}

.generatedZodiac {
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  justify-content: center; /* Center the child elements horizontally */
  align-items: center; /* Center the child elements vertically */
  text-align: center;
}

.analyzeButton {
  margin-bottom: 10px;
  background-color: #CD6645 !important;
  border-color: #CD6645 !important;
}

.analyzeButton:hover, .analyzeButton:active, .analyzeButton:focus {
  background-color: #85402A !important;
  border-color: #85402A !important;
}

/** 
  https://stackoverflow.com/questions/54865818/how-to-customize-backgronud-and-color-of-tabs
  changing color of tabs
*/
.mobileTab {
  color: black;
}

.nav-link.active {
  color: #CD6645 !important;
}

.mobileTabContent {
  padding-top: 20px;
}