.hero {
  display: block;
  background: rgb(205,102,69);
  background: linear-gradient(
    90deg, 
    rgba(205,102,69,1) 0%, 
    rgba(149,154,116,1) 35%, 
    rgba(0,212,255,1) 100%);
  height: 100vh;
  width: 100%;
  color: #F8F0E3;
}

.heroText {
  padding-top: 20%;
  padding-left: 20%;
  position: relative;
}

.spotifyButton {
  background-color: #1DB954 !important;
  border-color: #1DB954 !important;
}

.spotifyButton:hover, .spotifyButton:active, .spotifyButton:focus {
  background-color: #0f5e2b !important;
  border-color: #0f5e2b !important;
}

.loginButton {
  background-color: #CD6645 !important;
  border-color: #CD6645 !important;
}

.loginButton:hover, .loginButton:active, .loginButton:focus {
  background-color: #85402A !important;
  border-color: #85402A !important;
}

.highlightTextLogin {
  color: #CD6645;
}
