.Hero {
  display: block;
  background: rgb(205,102,69);
  background: linear-gradient(
    90deg, 
    rgba(205,102,69,1) 0%, 
    rgba(149,154,116,1) 35%, 
    rgba(0,212,255,1) 100%);
  height: 100vh;
  width: 100%;
  padding: 20% 20%;
  color: #F8F0E3;
}
