/* 
$primary-color: #CD6645;
$secondary-color: #F8F0E3;
$background-color: #282b2d; 
*/

.NavigationBar {
  padding-left: 20px;
  width: 100%;
  background: #282b2d;
  position: relative;
  top: 0;
  z-index: 2;
}

.custom-toggle {
  margin-right: 20px;
}
.custom-brand-color {
  color: #CD6645;
}

.custom-text-color {
  color: #F8F0E3;
}