/* black: #282b2d;
white: #F8F0E3;
orange: #CD6645; */


.App {
  text-align: center;
  background: #F8F0E3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* You can adjust the font as needed */
  min-height: 100vh; /* Ensure body covers the viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}